API_GATEWAY_PORT = your_api_gateway_port # default: 3000
USER_SERVICE_PORT = your_user_service_port # default: 3001

DB_HOST = your_db_host # default: localhost
DB_PORT = your_db_port # default: 5432
DB_CONTAINER_NAME = your_db_container_name
DB_USERNAME = your_db_username
DB_PASSWORD = your_db_password
DB_NAME = your_db_name
